/vendor/
/node_modules/
/build/
composer.lock
.phpunit.cache
.phpunit.result.cache
.pint.cache
.rector.cache
.php-cs-fixer.cache
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.code-workspace
.DS_Store
Thumbs.db
